
@model IEnumerable<XamarinProjectBackend.Models.CoordInfo>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="col-6">
        <h2 class="text-primary">Expense Items List</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-success" asp-controller="CoordInfo" asp-action="Create">Create new Item</a>
        @*<a class="btn btn-success" asp-controller="CoordInfo" asp-action="ImportJsonFile">Importér JSON Fil</a>*@
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    Navn
                </th>
                <th>
                    Beskrivelse
                </th>
                <th>
                    Type
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitute
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                { 
                    <tr>
                        <td width="25%">@item.id</td>
                        <td width="25%">@item.name</td>
                        <td width="25%">@item.description</td>
                        <td width="25%">@item.type</td>
                        <td width="25%">@item.lat</td>
                        <td width="25%">@item.lon</td>
                        <td width="25%">
                            <a class="btn btn-primary w-100 mb-3" asp-controller="Expenses" asp-action="Update" asp-route-Id="@item.id">Update</a>
                            <a class="btn btn-danger w-100" asp-controller="Expenses" asp-action="Delete" asp-route-Id="@item.id">Delete</a>

                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>

